doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            h1 Crear Nuevo Negocio
            p Introduce los datos para crear un registro en HubSpot.
            
            form(method="POST" action="/update-cobj")
                // Campo para el Nombre
                label(for="name_field") Nombre del Negocio:
                input(type="text" name="name_field" required)
                
                // Campo para tu Propiedad 1
                label(for="prop1_field") My Custom Prop 1:
                input(type="text" name="prop1_field")
                
                // Campo para tu Propiedad 2
                label(for="prop2_field") My Custom Prop 2:
                input(type="text" name="prop2_field")
                
                button(type="submit") Crear Negocio
            
            br
            a(href="/") Return to the homepage